{% extends "layout.html" %}

{% block title %}
    Bookings
{% endblock %}

{% block main %}

  <div class="form-wrap">
    <form action="/userpage" method="post" class="selectBookingsForm">
      <input name="select_bookings" value="All bookings" class="selected"/>
      <button type="submit" class="selectBookingsBtn">All bookings</button>
    </form>
    <form action="/userpage" method="post" class="selectBookingsForm">
      <input name="select_bookings" value="My bookings" class="selected"/>
      <button type="submit" class="selectBookingsBtn">My bookings</button>
    </form>
  </div>

  {% for item in show %}
    <section class="bookings">
      <div class="date-and-status">
        <div class="date">
          <p>{{ item[5] }}</p>
        </div>
      {% if item[5] > current_date %}
        <div class="status">
          <form action="/userpage" method="post">
            <input readonly id="selectedRow" name="selectedRow" value={{ item[0] }} class="selected"/>
            <button type="submit" class="actionBtn cancel">cancel</button>
          </form>
        </div>
      {% elif item[5] == current_date %}
        <div class="today">
          today
        </div>
      {% else %}
        <div class="completed">
          completed
        </div>
      {% endif %}
      </div>
      <div class="time">
        <p>{{ item[4] }}</p>
      </div>
      <div class="by">
        <span>By: </span><span> {{ item[2] }},</span>
        <span> Apt no.</span><span> {{ item[3]  }}</span>
      </div>
      {% if item[6]|length >  0  %}
      <div class="instructions">
        <span class="notes">Notes: </span><span class="the-note">"{{ item[6] }}"</span>
      </div>
      {% endif %}
    </section>
  {% endfor %}
  {% if show|length ==  0  %}
    <h1>There are currently no bookings</h1>
  {% endif %}

{% endblock %}

