{% extends "layout.html" %}

{% block title %}
  Calendar
{% endblock %}

{% block main %}
<!-- <h1>{{ today, monthName, year }}</h1> -->

<h2 class="month">{{ monthName }}</h2>
<h2 class="year">{{ year }}</h2>

<div class="back-or-forward">
  <a class="back"><<<<</a>
  <a class="forward">>>>></a>
</div>
  
  <table>
    <thead>
      <!-- <tr>
          <th class="month-header"><h2 class="month">{{ monthName }}</h2></th>
          <th class="year-header"><h2 class="year">{{ year }}</h2></th>
      </tr> -->
      <tr class="week-header">
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
    </thead>

    <tbody>
      {% for item in month %}
        <tr>
          {% for element in item %}

            {% if element == 0 %}
              <td class="cal-btn">
                <a href="#">{{' '}}</a>
              </td>
            {% elif element < today %}
              <td class="cal-btn">
                <a class="deactiveLink" href="#">{{ element }}</a>
              </td>
            {% elif element == today %}
              <td class="cal-btn">
                <a class="bookingLink today" href="/dayview">{{ element }}</a>
              </td>  
            {% else %}
              <td class="cal-btn">
                <a class="bookingLink" href="/dayview">{{ element }}</a>
              </td>
            {% endif %}

          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}