{% extends "layout.html" %}

{% block title %}
  Select a day
{% endblock %}

{% block main %}

<h3 class="month">{{ month_name }}</h3>
<h3 class="year">{{ year }}</h3>

<div class="back-or-forward">
  <div class="back">
  {% if page > 1 %}
    <a class="move" href=/dates/page/{{ page - 1 }}>< Earlier</a>
  {% endif %}
  </div> 
  <div class="forward">
  {% if page < 3 %}
    <a class="move" href=/dates/page/{{ page + 1 }}>Later ></a>
  {% endif %}
  </div>
</div>
  <table class="calendar">
    <thead>
      <tr class="week-header">
        <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
      </tr>
    </thead>

    <tbody>
      {% for item in month %}
        <tr>
          {% for element in item %}
            {% if element == 0 %}
              <td class="cal-btn">
                <a href="#">{{' '}}</a>
              </td>
            {% elif element < today and page == 1 %}
              <td class="cal-btn">
                <a class="deactiveLink" href="#">{{ element }}</a>
              </td>
            {% elif page == 1 and element == today %}
              <td class="cal-btn">
                <a class="bookingLink today">{{ element }}</a>
              </td>  
            {% else %}
              <td class="cal-btn">
                <a class="bookingLink">{{ element }}</a>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}