{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

  <h3>Pick a timeslot</h3>
 
  <div class="timeslotsWrapper">
    {% for item in timeslot_taken %}
      {% if item[1] == True %}
        <a href="/confirm">
         <button class="timeslot inactive" disabled>{{ item[0] }}</button>
       </a>
      {% else %}
        <a href="/confirm">
          <button class="timeslot active">{{ item[0] }}</button>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <a class="navLink" href="/dates/page/">Go back</a>

{% endblock %}

    
     
    
 