/* Blue : 1D4C82 orange: DD6D4F Grey: #DAE1E7 */
body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

/** Landing page **/

.bookit {
  font-size: 2rem;
  margin: 0;
  padding: 0.6rem;
  /* font-family: Monoton, cursive;
  font-family: wox-striped_triple_demoRg; */
  font-family: Amita, cursive;
  font-weight: 400;
  color: #DD6D4F;
}

.rooftop {
  height: 50vh;
  border-radius: 10px;
}

.landing-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 12px;
  padding: 1rem 0;
}

.nav-toggle {
  margin: 0;
  padding: 0;
}

.hamburger {
  display: block;
  width: 28px;
  height: 3px;
  margin: 8px 16px;
  background: #DD6D4F;
  border-radius: 3px;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

.sidebar {
  display: none;
} 

.open {
  margin: 0;
  padding: 0.5rem 1rem; 
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1D4C82;
  color: #DAE1E7;
  transition: all 0.25s ease-in-out 0s;
}

.welcome {
  color: #DD6D4F;
  font-weight: 100;
  font-size: smaller;
  margin: 1rem auto;
  width: 80%;
}

.intro {
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.navigate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding: 0;
  width: 80%;
}

.navLink {
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #DD6D4F;
  border-radius: 20px;
  color: #DD6D4F;
  cursor: pointer;
  margin: 1rem 0;
  min-width: 9rem;
  max-width: fit-content;
  background-color: transparent;
}

.close {
  font-weight: bold;
  font-size: x-large;
  color: #DD6D4F;
}

.container {
  /* border: 2px solid green; */
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

/** Sign In page **/

.sign-in-form, .confirmation-form {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.actionBtn {
  background-color: #1D4C82;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 40px;
  border: 1px solid #1D4C82;
  width: 9rem;
  font-family: Montserrat;
  margin: 1rem 0;
}

.actionBtn:active {
  transform: translateY(3px);
}

a {
  text-decoration: none;
}

.forward {
  justify-content: flex-end;
}

.back {
  justify-content: flex-start;
}

.move {
  color: #DD6D4F;
  margin-bottom: 1rem;
}

.cal-btn {
  /* padding: 1rem 0; */
  width: 14%;
  height: 3rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #DD6D4F;
  border-radius: 3px;
} 

.deactiveLink {
  text-decoration: line-through;
}

.bookingLink, .deactiveLink {
  padding: 20% 24%;
  width: 8%;
  /* height: 2rem; */
  background-color: white;
  color: #1D4C82;
  margin: 2px;
  font-weight: bold;
}

.today {
  color: #DD6D4F;
}



.inputWrap {
  margin: 1rem 0;
  width: 90%;
}

.formInput {
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 0.7rem;
  width: 90%;
  font-family: Montserrat;
}

.back-or-forward {
  display: flex;
  width: 95%;
  margin-bottom: 1rem;
}

.forward, .back {
  display: flex;
  letter-spacing: 5px;
  width: 50%;
}

.calendar {
  width: 98%;
}

.week-header {
  height: 4rem;
}

h2, h3 {
  color: #1D4C82;
}

.timeslotsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.timeslot {
  width: 12rem;
  padding: 0.7rem 1rem;
  border-radius: 2.5rem;
  border: 2px solid #DD6D4F;
  font-size: 1rem;
  margin: 1rem 0;
  letter-spacing: 2px;
}

.active {
  background-color: rgb(3, 130, 152);
  color: white;
  cursor: pointer;
}

.inactive {
  background-color: rgb(3, 130, 152);
  opacity: 0.7;
  text-decoration:line-through;
  color: white;
}

.inputwrap {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1rem;
  box-shadow:  10px 5px 5px #666;
  width: 80%;
  margin-bottom: 1rem;
}

.disabledInput {
  border: none;
  background-color: white;
  color: #666;
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: Montserrat;
}

.selected {
  display: none;
}

.month, .year {
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
  font-weight: 100;
  color: #555;
}

th {
  border: 1px solid #DAE1E7;
  border-radius: 3px;
  background-color: #eee;
}

/* code for circle and checkmark upon confirmation copied from: https://bbbootstrap.com/snippets/animated-checkmark-50934051 */
.wrapper {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 5px;
  box-shadow:  10px 5px 5px #777;
  width: 80%;
  margin: 2rem 0;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}
@keyframes scale {
  0%, 100% {
    transform: none
  }
  50% {
    transform: scale3d(1.1, 1.1, 1)
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142
  }
}

.bookings {
  width: 70%;
  /* display: flex;
  flex-direction: column; */
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow:  4px 4px 4px #777;
}

.date-and-status {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: larger;
  font-weight: 700;
  color: #666;
}

.by {
  margin-bottom: 1rem;
}

.instructions {
  display: flex;
}

.notes {
  font-size: 1rem;
  font-weight: 600;
  color: #666;
}

.the-note {
  margin-left: 2rem;
}

.instruct {
  width: 80%;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid #eee;
  padding: 0.4rem;
}

.booking-header {
  width: 28%;
  padding: 3% 0;
  font-size: 0.8rem;
}

.first {
  width: 17%;
}

.booking-content {
  font-size: 1rem;
}

.completed {
  color: #7ac142;
}

.cancel, .today, .completed {
  width: fit-content;
  padding: 0.5rem 0.7rem;
}


/* ********* TABLET ************** */
@media (min-width: 668px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100%;
    padding: 1rem 1rem;
    transition: all 0.5s ease;
  }

  .landing-container {
    width: 70%;
    padding: 2rem 0;
  }

  .open {
    padding: 1rem; 
    width: 100%;
    transition: all 0.25s ease-in-out 0s;
  }

  .cal-btn {
    height: 5rem;
    border-radius: 3px;
  } 

  .bookingLink, .deactiveLink {
    padding: 21% 32%;
    width: 8%;
    margin: 3px;
  }

  .inputwrap {
    margin: 1rem 0;
    width: 70%;
  }

  .wrapper {
    height: 30vh;
    width: 70%;
    margin: 3rem 0;
  }

  .checkmark {
    width: 60px;
    height: 60px;
  }

}


/* ********* LAPTOP ************** */
@media (min-width: 1024px) {

  .bookit {
    font-size: 4.5rem;    
  }

  .actionBtn:hover {
    background-color: #DAE1E7;
    color: #1D4C82;
    transition: 0.5s background-color ease-in-out;
    cursor: pointer;
  }
 
  .navIcon {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1D4C82;
    color: #DAE1E7;
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    padding: 1rem 1rem;
    /* transition: all 0.5s ease; */
  }

  .welcome {
    font-size: 0.9rem;
  }

  .container {
    width: 60%;
    margin: 5% 18%;
    padding: 0 11%;
  }

  .sign-in-form, .confirmation-form {
    width: 40%;
    text-align: center;
  }

  .cal-btn {
    height: 4.5rem;
  } 

  .bookingLink, .deactiveLink {
    padding: 25% 33%;
    width: 8%;
    margin: 3px;
  }

  .bookingLink:hover {
    background-color: #eee;
    border-radius: 3px;
    cursor: pointer;
  }

  .back-or-forward {
    display: flex;
    width: 70%;
    margin-bottom: 1rem;
  }

  .forward, .back {
    display: flex;
    cursor: pointer;
    letter-spacing: 5px;
    width: 50%;
  }
  
  .calendar {
    width: 70%;
  }

  .navLink:hover {
    background-color: #DD6D4F;
    color: white;
    transition: 0.5s background-color ease-in-out;
    cursor: pointer;
  }

  .active:hover {
    background-color: #1D4C82;
    color: aliceblue;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    -webkit-transform: translateY(-4px);
  }

  .inputwrap {
    margin: 1rem 0;
    width: 100%;
  }
  
  .instruct {
    width: 80%;
    float: left;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid #eee;
    padding: 0.4rem;
    overflow-wrap: break-word;
    resize: none;
  }

  .bookings {
    width: 60%;
  }
}


/* ********* DESKTOP ************* */
@media (min-width: 2560px) {

}







