/* Blue : 1D4C82
orange: DD6D4F
Grey: #DAE1E7 */

body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

.sidebar {
  display: none;
}

.nav-toggle {
  /* border: 2px solid green; */
  margin: 0;
  padding: 0;

}

.navigate {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

ul {
  list-style-type: none;
  width: 100%;
  
}

li {
  margin: 2rem;
  width: 100%;
 
}

.hamburger {
  display: block;
  width: 28px;
  height: 3px;
  margin: 8px 16px;
  background: #DD6D4F;
  border-radius: 3px;
}

.close {
  font-weight: bold;
  font-size: x-large;
  color: #DD6D4F;
}

.open {
  margin: 0;
  padding: 0.5rem 1rem; 
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #1D4C82;
  color: #DAE1E7;
  transition: all 0.25s ease-in-out 0s;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

.navLink {
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #DD6D4F;
  border-radius: 20px;
  color: #DD6D4F;
  cursor: pointer;
  margin: 1rem 0;
  width: 100%;
}

.container {
  /* border: 2px solid green; */
  /* margin-left: 17vw; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

form {
  width: 90%;
  border: 2px solid blue;
  text-align: center;
}

.inputWrap {
  margin: 1rem 0;
}

.formInput {
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 0.7rem;
  width: 90%;
  font-family: Montserrat;
}

.bookings {
  border: 2px solid blue;
  width: 100%;
  font-size: smaller;
}

/* TABLET */
@media (min-width: 668px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100%;
    padding: 1rem 1rem;
    transition: all 0.5s ease;
  }
}

/* LAPTOP */
@media (min-width: 1024px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1D4C82;
    color: #DAE1E7;
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100%;
    padding: 1rem 1rem;
    margin-right: 17vw;
    transition: all 0.5s ease;
  }

  .navIcon {
    display: none;
  }
  
  .container {
    width: 60%;
    justify-content: start;
  }

  form {
    width: 20%;
    text-align: center;
  }

  .bookit {
    font-size: 5rem;
    font-family: Monoton, cursive;
    color: #DD6D4F;
  }
  
}

/* DESKTOP */
@media (min-width: 2560px) {
}


.checkbox {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  /* border: 2px green solid; */
}

.rooftop {
  height: 55vh;
  border-radius: 10px;
  margin: 2rem;
}

button {
  background-color: #1D4C82;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 40px;
  width: 5rem;
  border: 1px solid #1D4C82;
  width: 6rem;
  font-family: Montserrat;
}

button:hover {
  background-color: #DAE1E7;
  color: #1D4C82;
  transition: 0.5s background-color ease-in-out;
  cursor: pointer;
}

button:active {
  transform: translateY(3px);
}

a {
  text-decoration: none;
}

.back-or-forward {
  display: flex;
  width: 70%;
  margin-bottom: 1rem;
}

.forward, .back {
  display: flex;
  cursor: pointer;
  letter-spacing:5px;
  font-weight: bold;
  width: 50%;
}

.forward {
  justify-content: flex-end;
}

.back {
  justify-content: flex-start;
}

.move {
  color: #DD6D4F;
}

.navLink {
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #DD6D4F;
  border-radius: 20px;
  color: #DD6D4F;
  cursor: pointer;
  width: 7rem;
  margin: 1rem 0;
}

.filled {
  background-color: #DD6D4F;
  color: white;
  width: 13rem;
  margin: 1rem;
  padding: 1rem;
  font-size: larger;
}

.navLink:hover {
  background-color: #DD6D4F;
  color: white;
  transition: 0.5s background-color ease-in-out;
  cursor: pointer;
}

.filled:hover {
  size: 1.5;
}

 .cal-btn {
  /* border: 1px solid #666; */
  padding: 1.5rem 0;
  width: 6rem;
  height: 5rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #DD6D4F;
  border-radius: 3px;
} 

.bookingLink:hover {
  background-color: #DAE1E7;
  border-radius: 3px;
  cursor: pointer;
}

.bookingLink, .deactiveLink {
  padding: 3rem 3.9rem;
  width: 5rem;
  height: 4rem;
  background-color: white;
  color: #1D4C82;
  margin: 2px;
}

.today {
  color: #DD6D4F;
  font-size: larger;
}

.confirmation-form {
  display: flex;
  flex-direction: column;
}

.confirm {
 margin: 1rem 0;
}

.timeslotsWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.timeslot {
  width: 8rem;
  padding: 0.5rem;
  background-color: bisque;
  color: #666;
  margin: 1rem 0;
  cursor: pointer;
}

.timeslot:hover {
  background-color: #1D4C82;
  color: aliceblue;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  -webkit-transform: translateY(-4px);
}

.inputwrap{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1rem;
  box-shadow:  10px 5px 5px #666;
}

.disabledInput {
  border: none;
  background-color: white;
  color: black;
  display: block;
  margin: 1rem 0;
}

.row {
  padding: 0.8rem 0;
  height: 2.5rem;
  text-align: center;
}

.month, .year {
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
}


table {
  /* border: 2px solid blue; */
  width: 70%;
}

th {
  border: 1px solid gray;
  border-radius: 3px;
}
